.list-wrapper {
}
.list-wrapper-single {
  height: 100%;
}

.list-header {
  padding: 4px;
  border-bottom: 1px solid var(--theme-text-color);
}

/* List part of items. */
.list-main {
}

.list-main-single {
  height: 100%;
}
