html {
  --theme-background: hsl(217, 26%, 35%);
  --theme-background-l: hsl(217, 28%, 53%);
  --theme-text-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--theme-background);
  color: var(--theme-text-color);

  margin: 0;
  padding: 0;
}
