html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: var(--theme-background);
  color: var(--theme-text-color);

  height: 100%;
  margin: 0;
  padding: 0;
}

:global(#app) {
  height: 100%;
}
